### Question 1
#### Read 'Fortune_1000.csv' file using pandas read_csv() method and store it in a variable named f1000.
#### Select the rank, revenues, and revenue_change columns in f1000. Then, use the DataFrame.head() method to select the first five rows. Assign the result to f1000_selection.
#### Select just the fifth row of the f1000 dataframe. Assign the result to fifth_row using iloc.
#### Select the value in first row of the company column. Assign the result to company_value.
#### Select the last three rows of the f1000 dataframe. Assign the result to last_three_rows.
####  Select the first to seventh rows and the first five columns of the f1000 dataframe. Assign the result to first_seventh_row_slice.
#### Use the Series.isnull() method to select all rows from f1000 that have a null value for the previous_rank column.
#### Select only the company, rank, and previous_rank columns where previous_rank column is null. Assign the result to null_previous_rank.
#### Use the Series.notnull() method to select all rows from f1000 that have a non-null value for the previous_rank column. Assign the result to previously_ranked
#### From the previously_ranked dataframe, subtract the rank column from the previous_rank column. Assign the result to rank_change.
#### Assign the values in the rank_change to a new column in the f1000 dataframe, "rank_change".

In [1]:
import pandas as pd

In [2]:
# Read 'Fortune_1000.csv' file using pandas read_csv() method and store it in a variable named f1000.
f1000 = pd.read_csv('csv/fortune_1000.csv',na_values = " ")

In [3]:
f1000.head()

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
0,Walmart,1,0.0,572754.0,13673.0,2300000.0,Retailing,Bentonville,AR,no,no,no,yes,1.0,C. Douglas McMillon,https://www.stock.walmart.com,WMT,352037
1,Amazon,2,0.0,469822.0,33364.0,1608000.0,Retailing,Seattle,WA,no,no,no,yes,2.0,Andrew R. Jassy,www.amazon.com,AMZN,1202717
2,Apple,3,0.0,365817.0,94680.0,154000.0,Technology,Cupertino,CA,no,no,no,yes,3.0,Timothy D. Cook,www.apple.com,AAPL,2443962
3,CVS Health,4,0.0,292111.0,7910.0,258000.0,Health Care,Woonsocket,RI,no,no,yes,yes,4.0,Karen Lynch,https://www.cvshealth.com,CVS,125204
4,UnitedHealth Group,5,0.0,287597.0,17285.0,350000.0,Health Care,Minnetonka,MN,no,no,no,yes,5.0,Andrew P. Witty,www.unitedhealthgroup.com,UNH,500468

In [4]:
f1000.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   company            1000 non-null   object
 1   rank               1000 non-null   int64
 2   rank_change        1000 non-null   float64
 3   revenue            1000 non-null   float64
 4   profit             997 non-null    float64
 5   num. of employees  999 non-null    float64
 6   sector             1000 non-null   object
 7   city               1000 non-null   object
 8   state              1000 non-null   object
 9   newcomer           1000 non-null   object
 10  ceo_founder        1000 non-null   object
 11  ceo_woman          1000 non-null   object
 12  profitable         1000 non-null   object
 13  prev_rank          469 non-null    float64
 14  CEO                1000 non-null   object
 15  Website            1000 non-null   object
 16  Ticker             951 non-null    object
 17  Market Cap         969 non-null    object
dtypes: float64(5), int64(1), object(12)
memory usage: 140.8+ KB

In [5]:
# Select the rank, revenues, and revenue_change columns in f1000.
# Then, use the DataFrame.head() method to select the first five rows. 
# Assign the result to f1000_selection.
f1000_selection = f1000[['rank', 'revenue','rank_change']]
f1000_selection.head()

   rank   revenue  rank_change
0     1  572754.0          0.0
1     2  469822.0          0.0
2     3  365817.0          0.0
3     4  292111.0          0.0
4     5  287597.0          0.0

In [6]:
f1000_selection = f1000.loc[:,['rank','revenue','rank_change']]
f1000_selection.head()

   rank   revenue  rank_change
0     1  572754.0          0.0
1     2  469822.0          0.0
2     3  365817.0          0.0
3     4  292111.0          0.0
4     5  287597.0          0.0

In [7]:
# Select just the fifth row of the f1000 dataframe. Assign the result to fifth_row using iloc.
fifth_row = f1000.iloc[4,:]
fifth_row

company                     UnitedHealth Group
rank                                         5
rank_change                                0.0
revenue                               287597.0
profit                                 17285.0
num. of employees                     350000.0
sector                             Health Care
city                                Minnetonka
state                                       MN
newcomer                                    no
ceo_founder                                 no
ceo_woman                                   no
profitable                                 yes
prev_rank                                  5.0
CEO                            Andrew P. Witty
Website              www.unitedhealthgroup.com
Ticker                                     UNH
Market Cap                              500468
Name: 4, dtype: object

In [8]:
# Select the value in first row of the company column. Assign the result to company_value.
company_value = f1000.loc[0,'company']
company_value

'Walmart'

In [9]:
# Select the last three rows of the f1000 dataframe. Assign the result to last_three_rows.
last_three_rows = f1000.tail(3)
last_three_rows

last_three_rows = f1000[-3:]
last_three_rows

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
997,Cowen,998,0.0,2112.8,295.6,1534.0,Financials,New York,NY,no,no,no,yes,NaN,Jeffrey Solomon,https://www.cowen.com,COWN,1078
998,Ashland,999,0.0,2111.0,220.0,4100.0,Chemicals,Wilmington,DE,no,no,no,yes,NaN,Guillermo Novo,https://www.ashland.com,ASH,5601.9
999,DocuSign,1000,0.0,2107.2,-70.0,7461.0,Technology,San Francisco,CA,no,no,no,no,NaN,Allan C. Thygesen,https://www.docusign.com,DOCU,21302.8

In [10]:
# Select the first to seventh rows and the first five columns of the f1000 dataframe.
#Assign the result to first_seventh_row_slice.

first_seventh_row_slice = f1000.iloc[0:6,0:5]
first_seventh_row_slice

              company  rank  rank_change   revenue   profit
0             Walmart     1          0.0  572754.0  13673.0
1              Amazon     2          0.0  469822.0  33364.0
2               Apple     3          0.0  365817.0  94680.0
3          CVS Health     4          0.0  292111.0   7910.0
4  UnitedHealth Group     5          0.0  287597.0  17285.0
5         Exxon Mobil     6          4.0  285640.0  23040.0

In [11]:
# Use the Series.isnull() method to select all rows from f1000 that have a null value for the previous_rank column.
previous_rank_column = f1000[f1000['prev_rank'].isnull()]
previous_rank_column.head()

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
170,Cleveland-Cliffs,171,0.0,20444.0,2988.0,26000.0,Materials,Cleveland,OH,yes,no,no,yes,NaN,C. Lourenco Goncalves,https://www.clevelandcliffs.com,CLF,16891.2
194,Moderna,195,0.0,18471.0,12202.0,2700.0,Health Care,Cambridge,MA,yes,no,no,yes,NaN,Stephane Bancel,https://www.modernatx.com,MRNA,69424.3
308,Devon Energy,309,0.0,12206.0,2813.0,1600.0,Energy,Oklahoma City,OK,yes,no,no,yes,NaN,Richard E. Muncrief,https://www.devonenergy.com,DVN,39274.1
321,International Flavors & Fragrances,322,0.0,11656.0,270.0,24000.0,Chemicals,New York,NY,yes,no,no,yes,NaN,Franklin K. Clyburn Jr.,https://www.iff.com,IFF,33455.6
334,Caesars Entertainment,335,0.0,11110.0,-1019.0,49000.0,"Hotels, Restaurants & Leisure",Reno,NV,yes,no,no,no,NaN,Thomas R. Reeg,https://www.caesars.com,CZR,16564.6

In [12]:
# Select only the company, rank, and previous_rank columns where previous_rank column is null.
# Assign the result to null_previous_rank.
null_previous_rank = f1000.loc[f1000['prev_rank'].isnull(),['company','rank','prev_rank']]
null_previous_rank.head()

                                company  rank  prev_rank
170                    Cleveland-Cliffs   171        NaN
194                             Moderna   195        NaN
308                        Devon Energy   309        NaN
321  International Flavors & Fragrances   322        NaN
334               Caesars Entertainment   335        NaN

In [13]:
# Use the Series.notnull() method to select all rows from f1000 that have a non-null value for the previous_rank column. 
# Assign the result to previously_ranked
previous_rank_column = f1000[f1000['prev_rank'].notnull()]
previous_rank_column.head()

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
0,Walmart,1,0.0,572754.0,13673.0,2300000.0,Retailing,Bentonville,AR,no,no,no,yes,1.0,C. Douglas McMillon,https://www.stock.walmart.com,WMT,352037
1,Amazon,2,0.0,469822.0,33364.0,1608000.0,Retailing,Seattle,WA,no,no,no,yes,2.0,Andrew R. Jassy,www.amazon.com,AMZN,1202717
2,Apple,3,0.0,365817.0,94680.0,154000.0,Technology,Cupertino,CA,no,no,no,yes,3.0,Timothy D. Cook,www.apple.com,AAPL,2443962
3,CVS Health,4,0.0,292111.0,7910.0,258000.0,Health Care,Woonsocket,RI,no,no,yes,yes,4.0,Karen Lynch,https://www.cvshealth.com,CVS,125204
4,UnitedHealth Group,5,0.0,287597.0,17285.0,350000.0,Health Care,Minnetonka,MN,no,no,no,yes,5.0,Andrew P. Witty,www.unitedhealthgroup.com,UNH,500468

In [14]:
# From the previously_ranked dataframe, subtract the rank column from the previous_rank column.
# Assign the result to rank_change.
# Assign the values in the rank_change to a new column in the f1000 dataframe, "rank_change".

f1000['prev_rank']=pd.to_numeric(f1000['prev_rank'], errors='coerce')
f1000['rank_change'] = f1000['prev_rank'] - f1000['rank']
f1000.head(6)

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
0,Walmart,1,0.0,572754.0,13673.0,2300000.0,Retailing,Bentonville,AR,no,no,no,yes,1.0,C. Douglas McMillon,https://www.stock.walmart.com,WMT,352037
1,Amazon,2,0.0,469822.0,33364.0,1608000.0,Retailing,Seattle,WA,no,no,no,yes,2.0,Andrew R. Jassy,www.amazon.com,AMZN,1202717
2,Apple,3,0.0,365817.0,94680.0,154000.0,Technology,Cupertino,CA,no,no,no,yes,3.0,Timothy D. Cook,www.apple.com,AAPL,2443962
3,CVS Health,4,0.0,292111.0,7910.0,258000.0,Health Care,Woonsocket,RI,no,no,yes,yes,4.0,Karen Lynch,https://www.cvshealth.com,CVS,125204
4,UnitedHealth Group,5,0.0,287597.0,17285.0,350000.0,Health Care,Minnetonka,MN,no,no,no,yes,5.0,Andrew P. Witty,www.unitedhealthgroup.com,UNH,500468
5,Exxon Mobil,6,4.0,285640.0,23040.0,63000.0,Energy,Irving,TX,no,no,no,yes,10.0,Darren W. Woods,www.exxonmobil.com,XOM,371841

In [15]:
import numpy as np
f1000.loc[f1000['prev_rank']== " ","prev_rank"]= np.nan

In [16]:
f1000['prev_rank'] = f1000['prev_rank'].astype('float64')

In [17]:
f1000['rank_change'] = f1000['prev_rank'] - f1000['rank']
f1000.head(6)

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
0,Walmart,1,0.0,572754.0,13673.0,2300000.0,Retailing,Bentonville,AR,no,no,no,yes,1.0,C. Douglas McMillon,https://www.stock.walmart.com,WMT,352037
1,Amazon,2,0.0,469822.0,33364.0,1608000.0,Retailing,Seattle,WA,no,no,no,yes,2.0,Andrew R. Jassy,www.amazon.com,AMZN,1202717
2,Apple,3,0.0,365817.0,94680.0,154000.0,Technology,Cupertino,CA,no,no,no,yes,3.0,Timothy D. Cook,www.apple.com,AAPL,2443962
3,CVS Health,4,0.0,292111.0,7910.0,258000.0,Health Care,Woonsocket,RI,no,no,yes,yes,4.0,Karen Lynch,https://www.cvshealth.com,CVS,125204
4,UnitedHealth Group,5,0.0,287597.0,17285.0,350000.0,Health Care,Minnetonka,MN,no,no,no,yes,5.0,Andrew P. Witty,www.unitedhealthgroup.com,UNH,500468
5,Exxon Mobil,6,4.0,285640.0,23040.0,63000.0,Energy,Irving,TX,no,no,no,yes,10.0,Darren W. Woods,www.exxonmobil.com,XOM,371841

# Question 2

#### Select all companies with revenues over 100 thosand and negative profits from the f1000 dataframe. The result should include all columns.
#### Create a boolean array that selects the companies with revenues greater than 100 billion. Assign the result to large_revenue.
#### Create a boolean array that selects the companies with profits less than 0. Assign the result to negative_profits.
#### Combine large_revenue and negative_profits. Assign the result to combined.

In [18]:
# Select all companies with revenues over 100 Thousand and negative profits from the f1000 dataframe.
# The result should include all columns.
f1000[(f1000['revenue'] > 100000) & (f1000['profit'] < 0)]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
8,McKesson,9,-2.0,238228.0,-4539.0,67500.0,Health Care,Irving,TX,no,no,no,no,7.0,Brian S. Tyler,www.mckesson.com,MCK,47377

In [19]:
# Create a boolean array that selects the companies with revenues greater than 100 Thousand. 
# Assign the result to large_revenue.
large_revenue = f1000.loc[f1000['revenue']>100000,['company']]
large_revenue.head()

              company
0             Walmart
1              Amazon
2               Apple
3          CVS Health
4  UnitedHealth Group

In [20]:
# Create a boolean array that selects the companies with profits less than 0. 
# Assign the result to negative_profits.\
negative_profits = f1000.loc[f1000['profit']<0]
negative_profits

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
8,McKesson,9,-2.0,238228.0,-4539.0,67500.0,Health Care,Irving,TX,no,no,no,no,7.0,Brian S. Tyler,www.mckesson.com,MCK,47377
47,General Electric,48,-10.0,74196.0,-6520.0,168000.0,Industrials,Boston,MA,no,no,no,no,38.0,H. Lawrence Culp Jr.,www.ge.com,GE,73458
59,Boeing,60,-6.0,62286.0,-4202.0,142000.0,Aerospace & Defense,Chicago,IL,no,no,no,no,54.0,David L. Calhoun,www.boeing.com,BA,92372
113,American Airlines Group,114,60.0,29882.0,-1993.0,123400.0,Transportation,Fort Worth,TX,no,no,no,no,174.0,Robert D. Isom,www.aa.com,AAL,9847
145,United Airlines Holdings,146,54.0,24634.0,-1964.0,84100.0,Transportation,Chicago,IL,no,no,no,no,200.0,J. Scott Kirby,https://www.united.com,UAL,15049.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,Dun & Bradstreet Holdings,987,NaN,2165.6,-71.7,6296.0,Business Services,Jacksonville,FL,no,no,no,no,NaN,Anthony M. Jabbour,https://www.dnb.com,DNB,7554
990,Harsco,991,NaN,2147.0,-3.2,12000.0,Business Services,Camp Hill,PA,no,no,no,no,NaN,F. Nicholas Grasberger III,https://www.harsco.com,HSC,969.7
993,Genesis Energy,994,NaN,2125.5,-165.1,1898.0,Energy,Houston,TX,no,no,no,no,NaN,Grant E. Sims,https://www.genesisenergy.com,GEL,1435.4
995,Vizio Holding,996,NaN,2124.0,-39.4,800.0,Industrials,Irvine,CA,no,yes,no,no,NaN,William W. Wang,https://www.vizio.com,VZIO,1705.1
999,DocuSign,1000,NaN,2107.2,-70.0,7461.0,Technology,San Francisco,CA,no,no,no,no,NaN,Allan C. Thygesen,https://www.docusign.com,DOCU,21302.8

In [21]:
# Combine large_revenue and negative_profits. Assign the result to combined.

### Question 3
#### Select all rows for companies whose country value is either Brazil or Venezuela. Assign the result to brazil_venezuela.
#### Select the first five companies in the Technology sector for which the country is not the USA from the f500 dataframe. Assign  the result to tech_outside_usa.

In [22]:
# Select all rows for companies whose country value is either Houston or Boston. 
# Assign the result to brazil_venezuela.
Houston_Boston = f1000.loc[((f1000['city'] =='Houston') | (f1000['city'] == 'Boston'))]
Houston_Boston

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
28,Phillips 66,29,19.0,114852.0,1317.0,14000.0,Energy,Houston,TX,no,no,no,yes,48.0,Mark E. Lashier,www.phillips66.com,PSX,41091
47,General Electric,48,-10.0,74196.0,-6520.0,168000.0,Industrials,Boston,MA,no,no,no,no,38.0,H. Lawrence Culp Jr.,www.ge.com,GE,73458
69,Sysco,70,-10.0,51297.8,524.2,57710.0,Wholesalers,Houston,TX,no,no,no,yes,60.0,Kevin P. Hourican,www.sysco.com,SYY,44508
76,ConocoPhillips,77,79.0,48349.0,8079.0,9900.0,Energy,Houston,TX,no,no,no,yes,156.0,Ryan M. Lance,www.conocophillips.com,COP,114444
77,Liberty Mutual Insurance Group,78,-7.0,48200.0,3068.0,45000.0,Financials,Boston,MA,no,no,no,yes,71.0,David H. Long,www.libertymutual.com,NaN,NaN
87,Plains GP Holdings,88,39.0,42078.0,60.0,4100.0,Energy,Houston,TX,no,no,no,yes,127.0,Wilfred C.W. Chiang,www.plains.com,PAGP,2131
88,Enterprise Products Partners,89,16.0,40806.9,4637.7,6911.0,Energy,Houston,TX,no,no,no,yes,105.0,A. James Teague/W. Randall Fowler,www.enterpriseproducts.com,EPD,55122
122,Hewlett Packard Enterprise,123,-17.0,27784.0,3427.0,60400.0,Technology,Houston,TX,no,no,no,yes,106.0,Antonio F. Neri,https://www.hpe.com,HPE,21725.3
132,NRG Energy,133,200.0,26989.0,2187.0,6635.0,Energy,Houston,TX,no,no,no,yes,333.0,Mauricio Gutierrez,https://www.nrg.com,NRG,9855
134,Occidental Petroleum,135,48.0,26772.0,2322.0,11678.0,Energy,Houston,TX,no,no,yes,yes,183.0,Vicki A. Hollub,https://www.oxy.com,OXY,53160.2
169,Baker Hughes,170,-30.0,20502.0,-219.0,54000.0,Energy,Houston,TX,no,no,no,no,140.0,Lorenzo Simonelli,https://www.bakerhughes.com,BKR,37410.2
192,EOG Resources,193,92.0,18642.0,4664.0,2800.0,Energy,Houston,TX,no,no,no,yes,285.0,Ezra Y. Yacob,https://www.eogresources.com,EOG,69796
202,Waste Management,203,-1.0,17931.0,1816.0,48500.0,Business Services,Houston,TX,no,no,no,yes,202.0,James C. Fish Jr.,https://www.wm.com,WM,65802.8
215,Targa Resources,216,148.0,16949.8,71.2,2430.0,Energy,Houston,TX,no,no,no,yes,364.0,Matthew J. Meloy,https://www.targaresources.com,TRGP,17243.8
222,Kinder Morgan,223,39.0,16610.0,1784.0,10529.0,Energy,Houston,TX,no,no,no,yes,262.0,Steven J. Kean,https://www.kindermorgan.com,KMI,42878.1
232,Cheniere Energy,233,95.0,15864.0,-2343.0,1550.0,Energy,Houston,TX,no,no,no,no,328.0,Jack A. Fusco,https://www.cheniere.com,LNG,35272.3
240,Halliburton,241,-30.0,15295.0,1457.0,40000.0,Energy,Houston,TX,no,no,no,yes,211.0,Jeffrey A. Miller,https://www.halliburton.com,HAL,34028.9
272,Group 1 Automotive,273,13.0,13801.7,552.1,13711.0,Retailing,Houston,TX,no,no,no,yes,286.0,Earl J. Hesterberg,https://www.group1auto.com,GPI,2859.9
274,Wayfair,275,-58.0,13708.0,-131.0,16681.0,Retailing,Boston,MA,no,yes,no,no,217.0,Niraj S. Shah,https://www.wayfair.com,W,11641.6
284,Quanta Services,285,-7.0,12980.2,486.0,43700.0,Engineering & Construction,Houston,TX,no,no,no,yes,278.0,Earl C. Austin Jr.,https://www.quantaservices.com,PWR,18779.5
315,State Street,316,-64.0,12030.0,2693.0,38784.0,Financials,Boston,MA,no,no,no,yes,252.0,Ronald P. O&#039;Hanley,https://www.statestreet.com,STT,31891.8
319,Westlake,320,68.0,11778.0,2015.0,14550.0,Chemicals,Houston,TX,no,no,no,yes,388.0,Albert Yuan Chao,https://www.westlake.com,WLK,15785.4
374,American Tower,375,0.0,9356.9,2567.7,6378.0,Financials,Boston,MA,no,no,no,yes,375.0,Thomas A. Bartlett,https://www.americantower.com,AMT,114527.4
413,CenterPoint Energy,414,-72.0,8352.0,1486.0,9418.0,Energy,Houston,TX,no,no,no,yes,342.0,David J. Lesar,https://www.centerpointenergy.com,CNP,19285.8
430,APA,431,NaN,7928.0,973.0,2253.0,Energy,Houston,TX,yes,no,no,yes,NaN,John J. Christmann IV,https://www.apacorp.com,APA,14332.3
447,Vertex Pharmaceuticals,448,0.0,7574.4,2342.1,3900.0,Health Care,Boston,MA,no,no,yes,yes,448.0,Reshma Kewalramani,https://www.vrtx.com,VRTX,66436.9
459,KBR,460,10.0,7339.0,18.0,28000.0,Engineering & Construction,Houston,TX,no,no,no,yes,470.0,Stuart J.B. Bradie,https://www.kbr.com,KBR,7634.9
502,Crown Castle International,503,NaN,6340.0,1096.0,5000.0,Financials,Houston,TX,no,no,no,yes,NaN,Jay A. Brown,https://www.crowncastle.com,CCI,79937.3
565,NOV,566,NaN,5524.0,-250.0,27043.0,Energy,Houston,TX,no,no,no,no,NaN,Clay C. Williams,https://www.nov.com,NOV,7700.2
568,Marathon Oil,569,NaN,5467.0,946.0,1531.0,Energy,Houston,TX,no,no,no,yes,NaN,Lee M. Tillman,https://www.marathonoil.com,MRO,18349.5
633,Par Pacific Holdings,634,NaN,4710.1,-81.3,1336.0,Energy,Houston,TX,no,no,no,no,NaN,William C. Pate,https://www.parpacific.com,PARR,783.3
643,Crestwood Equity Partners,644,NaN,4569.0,-78.5,645.0,Energy,Houston,TX,no,yes,no,no,NaN,Robert G Phillips,https://www.crestwoodlp.com,CEQP,2931.5
651,Iron Mountain,652,NaN,4491.5,450.2,25000.0,Business Services,Boston,MA,no,no,no,yes,NaN,William L. Meaney,https://www.ironmountain.com,IRM,16059.5
658,Mattress Firm Group,659,NaN,4392.9,-165.1,8900.0,Retailing,Houston,TX,no,no,no,no,NaN,John W. Eck,https://www.mattressfirm.com,NaN,NaN
676,Service Corp. International,677,NaN,4143.1,802.9,20840.0,Business Services,Houston,TX,no,no,no,yes,NaN,Thomas L. Ryan,https://www.sci-corp.com,SCI,10581.3
761,Coterra Energy,762,NaN,3449.0,1158.0,936.0,Energy,Houston,TX,no,no,no,yes,NaN,Thomas E. Jorden,https://www.coterra.com,CTRA,21872.1
765,Cabot,766,NaN,3409.0,250.0,4500.0,Chemicals,Boston,MA,no,no,no,yes,NaN,Sean D. Keohane,https://www.cabotcorp.com,CBT,3871.1
783,Stewart Information Services,784,NaN,3305.8,323.2,7300.0,Financials,Houston,TX,no,no,no,yes,NaN,Frederick Eppinger,https://www.stewart.com,STC,1181
819,Comfort Systems USA,820,NaN,3073.6,143.3,13200.0,Engineering & Construction,Houston,TX,no,no,no,yes,NaN,Brian E. Lane,https://www.comfortsystemsusa.com,FIX,3200.5
856,Boston Properties,857,NaN,2888.6,505.2,743.0,Financials,Boston,MA,no,no,no,yes,NaN,Owen D. Thomas,https://www.bxp.com,BXP,20179.9
900,MRC Global,901,NaN,2666.0,-14.0,2600.0,Energy,Houston,TX,no,no,no,no,NaN,Robert J. Saltiel Jr.,https://www.mrcglobal.com,MRC,995.2
957,Murphy Oil,958,NaN,2300.1,-73.7,696.0,Energy,Houston,TX,no,no,no,no,NaN,Roger W. Jenkins,https://www.murphyoilcorp.com,MUR,6275.3
970,Kirby,971,NaN,2246.7,-247.0,5125.0,Transportation,Houston,TX,no,no,no,no,NaN,David W. Grzebinski,https://www.kirbycorp.com,KEX,4345.9
993,Genesis Energy,994,NaN,2125.5,-165.1,1898.0,Energy,Houston,TX,no,no,no,no,NaN,Grant E. Sims,https://www.genesisenergy.com,GEL,1435.4

In [23]:
# Select the first five companies in the Technology sector for which the country is not the USA from the f100 dataframe.
# Assign the result to tech_outside_usa.
tech_outside_usa = f1000.loc[f1000['city'] != 'Boston']
tech_outside_usa.iloc[:6]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
0,Walmart,1,0.0,572754.0,13673.0,2300000.0,Retailing,Bentonville,AR,no,no,no,yes,1.0,C. Douglas McMillon,https://www.stock.walmart.com,WMT,352037
1,Amazon,2,0.0,469822.0,33364.0,1608000.0,Retailing,Seattle,WA,no,no,no,yes,2.0,Andrew R. Jassy,www.amazon.com,AMZN,1202717
2,Apple,3,0.0,365817.0,94680.0,154000.0,Technology,Cupertino,CA,no,no,no,yes,3.0,Timothy D. Cook,www.apple.com,AAPL,2443962
3,CVS Health,4,0.0,292111.0,7910.0,258000.0,Health Care,Woonsocket,RI,no,no,yes,yes,4.0,Karen Lynch,https://www.cvshealth.com,CVS,125204
4,UnitedHealth Group,5,0.0,287597.0,17285.0,350000.0,Health Care,Minnetonka,MN,no,no,no,yes,5.0,Andrew P. Witty,www.unitedhealthgroup.com,UNH,500468
5,Exxon Mobil,6,4.0,285640.0,23040.0,63000.0,Energy,Irving,TX,no,no,no,yes,10.0,Darren W. Woods,www.exxonmobil.com,XOM,371841

In [24]:
f1000.sort_values(['rank_change','rank','profit'], ascending = True).head()

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
434,Bath & Body Works,435,-178.0,7881.5,1333.5,32850.0,Retailing,Columbus,OH,no,no,yes,yes,257.0,Sarah E. Nash,https://www.bbwinc.com,BBWI,11419.9
379,VF Corp.,380,-117.0,9238.8,407.9,33600.0,Apparel,Denver,CO,no,no,no,yes,263.0,Steven Rendle,https://www.vfc.com,VFC,11620
467,Brighthouse Financial,468,-115.0,7142.0,-108.0,1500.0,Financials,Charlotte,NC,no,no,no,no,353.0,Eric T. Steigerwalt,https://www.brighthousefinancial.com,BHF,3958.7
337,Biogen,338,-110.0,10981.7,1556.1,9610.0,Health Care,Cambridge,MA,no,no,no,yes,228.0,Michel Vounatsos,https://www.biogen.com,BIIB,30950.4
290,XPO Logistics,291,-101.0,12806.0,336.0,44700.0,Transportation,Greenwich,CT,no,no,no,yes,190.0,Brad Jacobs,https://www.xpo.com,XPO,8356.9

In [25]:
# Find the company headquarted in Los Angeles wiith the largest number of employees
los_angeles = f1000.loc[f1000['city'] == "Los Angeles"].sort_values('num. of employees',ascending = False)
los_angeles.iloc[:1]

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
260,Reliance Steel & Aluminum,261,82.0,14093.3,1413.0,13950.0,Materials,Los Angeles,CA,no,no,no,yes,343.0,James D. Hoffman,https://www.rsac.com,RS,11313.5